@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a,
  button,
  [role='button'] {
    transition:
      background-color 150ms ease,
      color 150ms ease,
      border-color 150ms ease,
      opacity 150ms ease,
      box-shadow 150ms ease;
  }

  button:disabled,
  [aria-disabled='true'] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
